body{
background-color:black;
color:white;

}
ul {
    list-style-type: none;
    margin: 10px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    text-decoration: none;
}

li {
    float: left;
    display: inline;
    text-decoration: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: green;
    color: white;
    list-style-type: none;
    text-decoration: none;
}
p{
	font-size: 24px;
	
	font-family: "Comic Sans MS", cursive, sans-serif;
}
 #g{
    float:left;
 }
 contact{
    background-image: url("https://www.flydubai.com/en/media/contact-us-2-710x473_tcm8-18919.jpg");
 }